th, td {width: 17vw;}
td:hover{border:1 px solid};
.first_column {width:6vw;}
table {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.empty {color: RGBa(128,0,128, 0);background-color: #f1f1f1;border: none;border-radius: 10px;padding: 10px;}
#bouton-suivant {position: fixed;bottom: 2vw;right: 2vw;background-color: #ffffff;color: #8D889EB9;padding: 1vw 2vw;border: 2px solid #8D889EB9;border-radius: 5px;cursor: pointer; text-align: center;text-decoration: none;display: inline-block;font-size: 1vw;border-radius: 7px;transition: background-color 0.3s, border-color 0.3s, color 0.3s;}#bouton-suivant:hover {background-color: #8D889EB9;border-color: #8D889EB9;    color: #ffffff;}
.ALG2 {background-color: #8D889E; border: none;border-radius: 10px;padding: 10px;}
.POC {background-color: #8D889E; border: none;border-radius: 10px;padding: 10px;}
.AlgL {background-color: #B9A0AA; border: none;border-radius: 10px;padding: 10px;}
.Evén {background-color: #F4C9AE; border: none;border-radius: 10px;padding: 10px;}
.Perm {background-color: #F3DE8A; border: none;border-radius: 10px;padding: 10px;}
.POT {background-color: #958CA0; border: none;border-radius: 10px;padding: 10px;}
.OFI {background-color: #7E7F9A; border: none;border-radius: 10px;padding: 10px;}
@media screen and (max-width: 1000px){#button-suivant {position: fixed;bottom:6vw;right: 2vw;background-color: #ffffff;color: #8D889EB9;padding: 4vw 4vw;border: 2px solid #8D889EB9;border-radius: 5px;cursor: pointer;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius: 7px;transition: background-color 0.3s, border-color 0.3s, color 0.3s;}}
