th, td {width: 17vw;}
td:hover{border:1 px solid};
.first_column {width:6vw;}
table {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.empty {color: RGBa(128,0,128, 0);background-color: #f1f1f1;border: none;border-radius: 10px;padding: 10px;}
.POC {background-color: #B9A0AA; border: none;border-radius: 10px;padding: 10px;}
.Perm {background-color: #F4D796; border: none;border-radius: 10px;padding: 10px;}
.OFI {background-color: #8D889E; border: none;border-radius: 10px;padding: 10px;}
.Trom {background-color: #F3DE8A; border: none;border-radius: 10px;padding: 10px;}
.ALG2 {background-color: #B9A0AA; border: none;border-radius: 10px;padding: 10px;}
.RES {background-color: #9C90A2; border: none;border-radius: 10px;padding: 10px;}
.AlgL {background-color: #9C90A2; border: none;border-radius: 10px;padding: 10px;}
