.ALG2 {background-color: #FFCC66; border: none;border-radius: 10px;padding: 10px;}
.AlgL {background-color: #FFCC66; border: none;border-radius: 10px;padding: 10px;}
.RES {background-color: #FFCCCC; border: none;border-radius: 10px;padding: 10px;}
.POC {background-color: #FFCCFF; border: none;border-radius: 10px;padding: 10px;}
.Perm {background-color: #FF99CC; border: none;border-radius: 10px;padding: 10px;}
.Trom {background-color: #FF99FF; border: none;border-radius: 10px;padding: 10px;}
.OFI {background-color: #FF66CC; border: none;border-radius: 10px;padding: 10px;}
