th, td {width: 17vw; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
table {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.empty {color: RGBa(128,0,128, 0);background-color: #f1f1f1;border: none;border-radius: 10px;padding: 1vw;height: 20px;}
#bouton-suivant {position: fixed;bottom: 2vw;right: 2vw;background-color: #ffffff;color: #8D889EB9;padding: 1vw 2vw;border: 2px solid #8D889EB9;border-radius: 5px;cursor: pointer; text-align: center;text-decoration: none;display: inline-block;font-size: 1vw;border-radius: 7px;transition: background-color 0.3s, border-color 0.3s, color 0.3s;}#bouton-suivant:hover {background-color: #8D889EB9;border-color: #8D889EB9;    color: #ffffff;}
#bouton-precedent {position: fixed;bottom: 2vw;left: 2vw;background-color: #ffffff;color: #8D889EB9;padding: 1vw 2vw;border: 2px solid #8D889EB9;border-radius: 5px;cursor: pointer; text-align: center;text-decoration: none;display: inline-block;font-size: 1vw;border-radius: 7px;transition: background-color 0.3s, border-color 0.3s, color 0.3s;}#bouton-precedent:hover {background-color: #8D889EB9;border-color: #8D889EB9;    color: #ffffff;}
.Evé {background-color: #F4CFA5; border: none;border-radius: 10px;padding: 1vw;text-align: center; user-select:none;}
.Evé:hover { border: 1px solid;scale: 1.05;transition: 0.5s}
.Evé:active {border: 1px solid;scale: 1.2;}
.POT {background-color: #7E7F9A; border: none;border-radius: 10px;padding: 1vw;text-align: center; user-select:none;}
.POT:hover { border: 1px solid;scale: 1.05;transition: 0.5s}
.POT:active {border: 1px solid;scale: 1.2;}
.Perm {background-color: #D7B1B2; border: none;border-radius: 10px;padding: 1vw;text-align: center; user-select:none;}
.Perm:hover { border: 1px solid;scale: 1.05;transition: 0.5s}
.Perm:active {border: 1px solid;scale: 1.2;}
.AlgL {background-color: #F4C1B9; border: none;border-radius: 10px;padding: 1vw;text-align: center; user-select:none;}
.AlgL:hover { border: 1px solid;scale: 1.05;transition: 0.5s}
.AlgL:active {border: 1px solid;scale: 1.2;}
.POC {background-color: #8D889E; border: none;border-radius: 10px;padding: 1vw;text-align: center; user-select:none;}
.POC:hover { border: 1px solid;scale: 1.05;transition: 0.5s}
.POC:active {border: 1px solid;scale: 1.2;}
.ALG2 {background-color: #8D889E; border: none;border-radius: 10px;padding: 1vw;text-align: center; user-select:none;}
.ALG2:hover { border: 1px solid;scale: 1.05;transition: 0.5s}
.ALG2:active {border: 1px solid;scale: 1.2;}
.OFI {background-color: #F4CDA8; border: none;border-radius: 10px;padding: 1vw;text-align: center; user-select:none;}
.OFI:hover { border: 1px solid;scale: 1.05;transition: 0.5s}
.OFI:active {border: 1px solid;scale: 1.2;}
.first_column {width:15vw;text-align: right;height: 8vw;}
.top_left {width:15vw;text-align: center;}
@media (max-width: 1000px) {#bouton-suivant {padding: 4vw 5vw;/* Augmenter le padding */bottom: 4vw;/* Augmenter la distance depuis le bas */right: 4vw;/* Augmenter la distance depuis la droite *//*on arrondie les angles*/border-radius: 30px;font-size: 3vw;}#bouton-precedent {padding: 4vw 5vw;/* Augmenter le padding */bottom: 4vw;/* Augmenter la distance depuis le bas */left: 4vw;/* Augmenter la distance depuis la droite *//*on arrondie les angles*/border-radius: 30px;font-size: 3vw;}}
